*{
    background-color:blanchedalmond;
    color: green;
}
header{color:black;
font-family:monospace;
background-color: aqua;
width:900px;
height: 100px;
font-size: 35px;
margin-left: 210px;}

img{
    width: 100px;
    height: 100px;
}
#titulo1{
    color:blue;
}

.titulo2{
    color: brown;
}
 #titulo3{
    display: flex;
    justify-content: center;

 }